.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: min-content;
    max-width: 100%;
    min-height: 200vh;
    background-color: rgb(8, 15, 44);
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.main_photo {
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 1px 1px 80px 10px white;
    -webkit-box-shadow: 1px 1px 80px 10px white;
    -moz-box-shadow: 1px 1px 80px 10px white;
    -ms-box-shadow: 1px 1px 80px 10px white;
    -o-box-shadow: 1px 1px 80px 10px white;

}

.main_title {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Montserrat";
    text-align: center;
    line-height: 1.25;
    font-size: 30px;
    letter-spacing: 0px;
    color: white;
    font-weight: 700;
}

.main_subtitle {
    margin: 0 auto;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.45;
    font-size: 17px;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
}

.main_about-me {
    margin: 0 auto;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.45;
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 40px;
    max-width: 70%;
    color: white;
    font-weight: 600;
}

.main_text {
    display: block;
    border: 1px solid white;
    background-color: #b0a2d3;
    width: 75%;
    max-width: 500px;
    border-radius: 5%;
    margin: 0 auto;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.45;
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 40px;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.main_line {
    display: flex;
    margin: 10px auto;
    width: 90%;
    border-top: 1px solid white;
}

.services_title {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.25;
    font-size: 30px;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
    margin-top: 50px;
}

.service {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #9f7cb2;
    flex-direction: column;
    border-radius: 10%;
    width: 70%;
    max-width: 500px;
}

.service_title {
    font-family: "Montserrat";
    color: white;
    line-height: 1.45;
    font-size: 17px;
    letter-spacing: 0px;
    padding: 0;
    margin-left: 20px;
    margin-right: 10px;
}

.service_text {
    margin: 0;
    font-family: "Montserrat1";
    line-height: 1.45;
    font-size: 17px;
    letter-spacing: 0px;
    padding: 0;
    margin-left: 20px;
    margin-right: 10px;
    color: white;
    font-weight: 600;
}

.service_price {
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.45;
    font-size: 27px;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
}

.diplom {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.25;
    font-size: 30px;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
}

.diplom_photos {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    margin-bottom: 50px;
}

.diplom_photo {
    margin: 0 auto;
    width: 50%;
    border-radius: 5%;
    object-fit: fill;
    transition: all 0.3s linear 0.3s;
}


.reviews {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.25;
    font-size: 30px;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
    margin-top: 50px;

}

.reviews_block {
    position: relative;
    display: grid;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 5%;
    column-gap: 2px;
    max-width: 500px;
}

.reviews_block2 {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2px;
}

.reviews_photo {
    margin: 0 auto;
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
    transition: all 0.3s linear 0.3s;
}

.social_links {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    max-width: 500px;
}


.photo1 {
    transform: scale(2) translate(25%, 25%);
    transition: all 0.3s linear 0.3s;
}

.photo2 {
    transform: scale(3) translate(0, 25%);
    transition: all 0.3s linear 0.3s;
}

.photo3 {
    transform: scale(3) translate(-25%, 25%);
    transition: all 0.3s linear 0.3s;
}

.photo4 {
    transform: scale(3);
    transition: all 0.3s linear 0.3s;
}

.photo5 {
    transform: scale(3) translate(-25%, 25%);
    transition: all 0.3s linear 0.3s;
}

.photo6 {
    transform: scale(2) translate(25%, -25%);
    transition: all 0.3s linear 0.3s;
}

.photo7 {
    transform: scale(3) translate(0, 25%);
    transition: all 0.3s linear 0.3s;
}

.photo8 {
    transform: scale(3) translate(-25%, 25%);
    transition: all 0.3s linear 0.3s;
}

.photo9 {
    transform: scale(3);
    transition: all 0.3s linear 0.3s;
}

.photo10 {
    transform: scale(3) translate(-25%, -25%);
    transition: all 0.3s linear 0.3s;
}
.photo11 {
    transform: scale(2.1) translate(25%, -25%);
    transition: all 0.3s linear 0.3s;
}
.photo12 {
    transform: scale(2.1) translate(-25%, -25%);
    transition: all 0.3s linear 0.3s;
}