.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: min-content;
    max-width: 100%;
    min-height: 200vh;
    background-color: rgb(8, 15, 44);
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.main_photo {
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 1px 1px 80px 10px white;
    -webkit-box-shadow: 1px 1px 80px 10px white;
    -moz-box-shadow: 1px 1px 80px 10px white;
    -ms-box-shadow: 1px 1px 80px 10px white;
    -o-box-shadow: 1px 1px 80px 10px white;

}

.main_title {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Montserrat";
    text-align: center;
    line-height: 1.25;
    font-size: 30px;
    letter-spacing: 0px;
    color: white;
    font-weight: 700;
}

.main_subtitle {
    margin: 0 auto;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.45;
    font-size: 17px;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
}

.main_about-me {
    margin: 0 auto;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.45;
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 40px;
    max-width: 70%;
    color: white;
    font-weight: 600;
}

.main_text {
    display: block;
    border: 1px solid white;
    background-color: #802CCA;
    width: 75%;
    max-width: 600px;
    border-radius: 5%;
    margin: 0 auto;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.45;
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 40px;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.main_line {
    display: flex;
    margin: 10px auto;
    width: 90%;
    border-top: 1px solid white;
}

.services {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.25;
    font-size: 30px;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
    margin-top: 50px;
}

.reviews {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Montserrat1";
    text-align: center;
    line-height: 1.25;
    font-size: 30px;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
    margin-top: 50px;
}

.reviews_block {
    display: grid;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 5%;
    column-gap: 2px;
}

.reviews_block2 {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2px;
}

.reviews_photo {
    margin: 0 auto;
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

#photo1:focus {
    width: 200%;
    z-index: 100;
}

#photo2:focus {
    width: 200%;
    z-index: 100;
}

#photo3:focus {
    width: 200%;
    z-index: 100;
}

#photo4:focus {
    width: 200%;
    z-index: 100;
}

#photo5:focus {
    width: 200%;
    z-index: 100;
}

#photo6:focus {
    width: 200%;
    z-index: 100;
}

#photo7:focus {
    width: 200%;
    z-index: 100;
}

#photo8:focus {
    width: 200%;
    z-index: 100;
}

#photo9:focus {
    width: 200%;
    z-index: 100;
}

#photo10:focus {
    width: 200%;
    z-index: 100;
}